
body {
  font-family: $main-font;
  font-style: normal;
  color: $main-font-color;
  font-size: 16px;
  line-height: calc(24 / 16);
  padding-top: 80px;
      @media screen and(min-width: 768px) {
        padding-top: 100px;
      }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: $tablet) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-right: 68px;
    padding-left: 68px;
  }
}

main {
  background-color: $background-back;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $second-font-color;
  color: $dark-font;
  cursor: pointer;
  font-family: inherit;
  line-height: calc(36/24);
  border: none;
}
