
// Adapting
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
$max-mobile: 767.98px;
$max-tablet: 1279.98px;

// Fonts
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;
$forms-font: 'Montserrat', sans-serif;
$additional-font: 'Roboto', sans-serif;

// Colors
$background-back: #EDE9E3;
$main-font-color: #7E6D53;
$second-font-color: #FCFCFB;
$white-font: #FFFEFE;
$dark-font: #2D2A22;
$swiper-pag-color:#0b006d;
$form-font-color: #35322D;
$form-placeholder:#999EA3;
$valid: #90EE90;
$invalid: #FF6347;
