// Adapting
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
$max-mobile: 767.98px;
$max-tablet: 1279.98px;

// Fonts
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Inter', sans-serif;
$forms-font: 'Montserrat', sans-serif;
$additional-font: 'Roboto', sans-serif;

// Colors
$background-back: #ede9e3;
$main-font-color: #7e6d53;
$second-font-color: #fcfcfb;
$white-font: #fffefe;
$dark-font: #2d2a22;
$swiper-pag-color: #0b006d;
$form-font-color: #35322d;
$form-placeholder: #999ea3;
$valid: #90ee90;
$invalid: #ff6347;
