<div
  class="download__backdrop download__backdrop--is-hidden"
  data-download-modal
>
  <div class="download-modal">
    <button class="close-btn" type="button" data-download-modal-close>
      <svg class="close-btn__icon" width="32" height="32">
        <use href="./images/icons.svg#cross"></use>
      </svg>
    </button>
    <img
      srcset="./images/modal/img@1x.png 1x, ./images/modal/img@2x.png 2x"
      src="./images/modal/img@1x.png"
      alt="the user is sitting in a chair"
      class="download-modal__img"
    />
    <div class="download-modal__inner">
      <p class="download-modal__title">Download the catalog</p>
      <p class="download-modal__descr">
        We will send you more photos, videos and information by mail
      </p>
      <div class="download-modal__box">
        <form class="download-modal__form">
          <label class="download-modal__label">
            <input
              type="email"
              class="download-modal__field"
              name="user_email"
              placeholder="alma.lawson@example.com"
              required
            />
          </label>
        </form>
        <button class="download-modal__send-btn" type="submit">
          <svg class="download-modal__send-btn-icon" width="24" height="24">
            <use href="./images/icons.svg#send-msge"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
