<section class="gallery" id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="width: 100%">
          <picture>
            <source
              srcset="
                ./images/galery/slider01_@1x.jpg 1x,
                ./images/galery/slider01_@2x.jpg 2x
              "
            />
            <img
              src="./images/galery/slider01_@1x.jpg"
              alt="Residental complex"
              width="556"
            />
          </picture>
        </div>
        <div class="swiper-slide" style="width: 100%">
          <picture>
            <source
              srcset="
                ./images/galery/slider04_@1x.jpg 1x,
                ./images/galery/slider04_@2x.jpg 2x
              "
            />
            <img
              src="./images/galery/slider04_@1x.jpg"
              alt="Residental complex"
              width="556"
            />
          </picture>
        </div>
        <div class="swiper-slide" style="width: 100%">
          <picture>
            <source
              srcset="
                ./images/galery/slider03_@1x.jpg 1x,
                ./images/galery/slider03_@2x.jpg 2x
              "
            />
            <img
              src="./images/galery/slider03_@2x.jpg"
              alt="Residental complex"
              width="556"
            />
          </picture>
        </div>
        <div class="swiper-slide" style="width: 100%">
          <picture>
            <source
              srcset="
                ./images/galery/slider02_@1x.jpg 1x,
                ./images/galery/slider02_@2x.jpg 2x
              "
            />
            <img
              src="./images/galery/slider02_@1x.jpg"
              alt="Residental complex"
              width="556"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-controls">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
