<header class="header" id="header">
  <div class="container header__container">
    <a class="logo" href="">
      <svg class="icon__logo" width="56" height="56">
        <use class="logo__menu" href="./images/icons.svg#loogo"></use>
        <use class="logo__tablet" href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list header__container">
        <li class="nav__item">
          <a class="nav__link" href="">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#apartments">Apartments</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#infrastructure">Infrastructure</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#gallery">Gallery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__button button" data-contact-modal-open>
      Contact us
    </button>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon__burger" width="24" height="24">
        <use class="burger" href="./images/icons.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
