<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="icon__cross" width="30" height="30" aria-label="mobile-menu">
      <use class="cross" href="./images/icons.svg#cross"></use>
    </svg>
  </button>
  <ul class="menu__nav">
    <li class="menu__nav--item">
      <a class="menu__link" href="#header">Home</a>
    </li>
    <li class="menu__nav--item">
      <a class="menu__link" href="#about">About</a>
    </li>
    <li class="menu__nav--item">
      <a class="menu__link" href="#apartments">Apartments</a>
    </li>
    <li class="menu__nav--item">
      <a class="menu__link" href="#infrastructure">Infrastructure</a>
    </li>
    <li class="menu__nav--item">
      <a class="menu__link" href="#gallery">Gallery</a>
    </li>
    <li class="menu__nav--item">
      <a class="menu__link" href="#contacts">Contacts</a>
    </li>
  </ul>
</div>
